dist: trusty
sudo: required
language: java

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - wget
      - pkg-config

osx_image: code8

cache:
    directories:
     - .bazel_cache

before_install:
  - ./travis.sh install-bazel

jobs:
  include:

    - stage: build
      env: V=0.12.0
      script: ./travis.sh build
      os: osx
    - env: V=0.12.0
      script: ./travis.sh build
      os: linux
    - env: V=0.13.0
      script: ./travis.sh build
      os: osx
    - env: V=0.13.0
      script: ./travis.sh build
      os: linux

    - stage: test
      env: V=0.12.0
      script: ./travis.sh lint
      os: osx
    - env: V=0.12.0
      script: ./travis.sh lint
      os: linux
    - env: V=0.12.0
      script: ./travis.sh test
      os: osx
    - env: V=0.12.0
      script: ./travis.sh test
      os: linux
    - env: V=0.13.0
      script: ./travis.sh test
      os: osx
    - env: V=0.13.0
      script: ./travis.sh test
      os: linux
