common --all_incompatible_changes
common --color yes
common --incompatible_bzl_disallow_load_after_statement=false
common --incompatible_depset_is_not_iterable=false
common --incompatible_depset_union=false
common --incompatible_disallow_data_transition=false
common --incompatible_new_actions_api=false
common --incompatible_no_support_tools_in_action_inputs=false
common --incompatible_remove_native_git_repository=false
common --incompatible_remove_native_http_archive=false

build --disk_cache=../.bazel_cache
build --experimental_strict_action_env
build --javacopt="-source 8 -target 8"
build --strategy=ScalaCompile=worker
build --worker_max_instances=4
build --verbose_failures
build --worker_sandboxing

test  --test_output=all
