common --color yes
common --all_incompatible_changes
common --incompatible_bzl_disallow_load_after_statement=false
common --incompatible_disallow_filetype=false
common --incompatible_disallow_legacy_javainfo=false
common --incompatible_package_name_is_a_function=false
common --incompatible_remove_native_git_repository=false
common --incompatible_remove_native_http_archive=false

build --define=scala_deps_direct=error
build --define=scala_deps_used=error
build --experimental_strict_action_env

build --javacopt="-source 8 -target 8"
build --strategy=ScalaCompile=worker
build --worker_max_instances=4

build --verbose_failures

test  --test_output=streamed

build --disk_cache=../.bazel_cache
build --worker_sandboxing
