import %workspace%/../.bazelrc

build --disk_cache=../.bazel_cache

# rules_docker seems to induce problems
common:v0.21 --incompatible_bzl_disallow_load_after_statement=false
common:v0.21 --incompatible_no_transitive_loads=false
common:v0.21 --incompatible_new_actions_api=false
common:v0.21 --incompatible_depset_is_not_iterable=false
common:v0.21 --incompatible_depset_union=false
