# generated
build --deleted_packages=external-tools/buildtools/buildozer,external-tools/buildtools/build_proto,external-tools/buildtools/wspace,external-tools/buildtools/deps_proto,external-tools/buildtools/buildifier2,external-tools/buildtools,external-tools/buildtools/unused_deps,external-tools/buildtools/extra_actions_base_proto,external-tools/buildtools/edit,external-tools/buildtools,external-tools/buildtools/build,external-tools/buildtools/differ,external-tools/buildtools/generatetables,external-tools/buildtools/tables,external-tools/buildtools/lang,external-tools/buildtools/config,external-tools/buildtools/file,external-tools/buildtools/buildifier,external-tools/buildtools/api_proto,
query --deleted_packages=external-tools/buildtools/buildozer,external-tools/buildtools/build_proto,external-tools/buildtools/wspace,external-tools/buildtools/deps_proto,external-tools/buildtools/buildifier2,external-tools/buildtools,external-tools/buildtools/unused_deps,external-tools/buildtools/extra_actions_base_proto,external-tools/buildtools/edit,external-tools/buildtools,external-tools/buildtools/build,external-tools/buildtools/differ,external-tools/buildtools/generatetables,external-tools/buildtools/tables,external-tools/buildtools/lang,external-tools/buildtools/config,external-tools/buildtools/file,external-tools/buildtools/buildifier,external-tools/buildtools/api_proto,
test --delete_packages=external-tools/buildtools/buildozer,external-tools/buildtools/build_proto,external-tools/buildtools/wspace,external-tools/buildtools/deps_proto,external-tools/buildtools/buildifier2,external-tools/buildtools,external-tools/buildtools/unused_deps,external-tools/buildtools/extra_actions_base_proto,external-tools/buildtools/edit,external-tools/buildtools,external-tools/buildtools/build,external-tools/buildtools/differ,external-tools/buildtools/generatetables,external-tools/buildtools/tables,external-tools/buildtools/lang,external-tools/buildtools/config,external-tools/buildtools/file,external-tools/buildtools/buildifier,external-tools/buildtools/api_proto,
