import %workspace%/tools/deleted_packages.rc

common --color yes
common --incompatible_bzl_disallow_load_after_statement
common --incompatible_depset_is_not_iterable
common --incompatible_depset_union
common --incompatible_disable_glob_tracking
common --incompatible_disable_objc_provider_resources
common --incompatible_disallow_dict_plus
common --incompatible_new_actions_api
common --incompatible_remove_native_git_repository
common --incompatible_remove_native_http_archive
common --incompatible_string_is_not_iterable

build --experimental_strict_action_env

build --javacopt="-source 8 -target 8"
build --strategy=ScalaCompile=worker
build --worker_max_instances=4
# build --worker_extra_flag=ScalaCompile=--persistence_dir=~/.cache/bazel-zinc

build --verbose_failures

test  --test_output=all

build --experimental_local_disk_cache
build --experimental_local_disk_cache_path=.bazel_cache

build --worker_sandboxing

# build --worker_quit_after_build
# build --worker_verbose
# build --announce_rc
